p 	
	{
		background-color: #808080; /*gray*/
		width: 90%;
		height: auto;
		margin: auto;
		font-family: Courier New;
		color: black;
		text-align: left;
		font-size: 16px;
	}

	h1 /*Menu Title*/
		{
			text-align: center;
			font-family: Courier New;
			font-size: 60px;
		}

	h3 /*Menu Choices*/
		{
			border: 1px solid black;
			padding: 5px;
			font-size: 24px;
			text-align: center;	
		}	

	.menuOption /*ID tag given to menu choices div*/
		{
			color: black;
			text-align: center;
			font-family: Courier New;
			background-color: #808080; /*gray*/
			border: 1px solid black;
			margin: 10px;
			padding-bottom: 10px;	
		}

		.menuOption h3 /*styling to menu choices colored box*/
			{
				width: 40%;
				margin-top: auto;
				margin-left: auto;
				margin-bottom: 15px;
			}

			#chicken
				{
					background-color: lightpink;
					color: purple;
				}

			#beef
				{
					background-color: indianred;
					color: paleturquoise;
				}

			#sushi
				{
					background-color: lightsteelblue;
					color: green;
				}	
	
	.row /*width will scale 100% of the window size*/
		{
		width: 100%;
		}

	.container
		{
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
		margin-top: 0 auto;
		margin-left: 0 auto;
		margin-right: 0 auto;
		margin-bottom:0 auto;		}

	.centered
		{
		margin-top: 0 auto;
		margin-left: 0 auto;
		margin-right: 0 auto;
		margin-bottom: 10px;
		}

@media (min-width: 1200px)
	/*large screened devices*/
	{
		.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12
		{
			float: left;
			border: 1px black;
		}
		.col-lg-1
			{
				width: 8.33%;
			}
		.col-lg-2
			{
				width: 16.66%;
			}
		.col-lg-3
			{
				width: 25%;
			}
		.col-lg-4
			{
				width: 33%;
			}
		.col-lg-5
			{
				width: 41.66%;
			}
		.col-lg-6
			{
				width: 50%:
			}
		.col-lg-7
			{
				width: 58.33%;
			}
		.col-lg-8
			{
				width: 66.66%;
			}
		.col-lg-9
			{
				width: 74.99%;
			}
		.col-lg-10
			{
				width: 83.33%;
			}
		.col-lg-11
		{
			width: 91.66%;
		}
		.col-lg-12
		{
			width: 100%;
		}
	}

/**/

@media (min-width: 950px) and (max-width: 1199px)
	/*medium screened devices*/
	{
		.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6,
		.col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12
		{
			float: left;
			border: 1px black;
		}
		.col-lg-1
			{
				width: 8.33%;
			}
		.col-lg-2
			{
				width: 16.66%;
			}
		.col-lg-3
			{
				width: 25%;
			}
		.col-lg-4
			{
				width: 33%;
			}
		.col-lg-5
			{
				width: 41.66%;
			}
		.col-lg-6
			{
				width: 50%:
			}
		.col-lg-7
			{
				width: 58.33%;
			}
		.col-lg-8
			{
				width: 66.66%;
			}
		.col-lg-9
			{
				width: 74.99%;
			}
		.col-lg-10
			{
				width: 83.33%;
			}
		.col-lg-11
		{
			width: 91.66%;
		}
		.col-lg-12
		{
			width: 100%;
		}
	}